<!DOCTYPE html>
<html>
<head>
	<title></title>	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main">
		<div class="top-section">
		<img src="assets/IMG_20220201_101425.jpg" class="profile" />
		<p class="p1">THENDRAL M</p>
		<p class="p2">FULLSTACK DEVELOPER</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-div-4">
		<div class="content-box" style="padding-left: 40px;">
		<p class="head">Contact</p>
        <!-- <tr *ngFor="let resume of contact">     -->
		<p class="p3"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;{{ contact[0].phone }}</p>
        <br/>
		<p class="p3"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;{{ contact[0].mail }}</p>
        <br/>
		<p class="p3"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp;{{ contact[0].address }}</p>
        <br/>
		<p class="head">my skills</p>
		<ul class="skills" *ngFor="let item of skills">
		<li><span>{{ item.name }}</span></li>
		</ul> 
        <br/>
		<p class="head">Languages known</p>
        <ul class="skills" *ngFor="let items of languages">
		<li><span>{{ items.langs }}</span></li>
		</ul>
		</div>
		</div>
        <div class="line"></div>
		<div class="col-div-8">
		<div class="content-box">
		<p class="head">Career Objective</p>
		<p class="p3">{{career[0].objective}} </p>
		<br/>
		<p class="head">Academic History</p>
		<ul class="p3" *ngFor="let history of academic" >
		<p>{{ history.academic }}</p>
		</ul>
		<br/>
        <p class="head">Inplant Training and Workshops</p>
		<ul class="p3" *ngFor="let training of workshop" >
		<p>{{ training.workshop }}</p>
		</ul>
		<br/>
	    <p class="head">Certifications</p>
		<ul class="p3" *ngFor="let certificate of certification" >
		<p>{{ certificate.certification }}</p>
		</ul>
        </div>
		</div>
		<div class="clearfix"></div>
        </div>
		<br/>
</body>
</html>

			

    

